<ion-header style="margin-top: 0px !important;margin-left: 0px !important;">
    <ion-navbar hideBackButton>
        <div style="align-items: center; display: inline;">
            <ion-title>
                <img src="./assets/img/vt_icon.png" class="icon">
                <b>&nbsp;( 插件电容器流程卡)&nbsp;工序:&nbsp;&nbsp;
                    <span class="processBGColor">{{wfInputForm.value.wfProcessName}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;流程卡号:&nbsp;
                    <u>{{wfInputForm.value.wfFormId}}</u>
                    &nbsp;&nbsp;&nbsp;&nbsp;机台号:&nbsp;
                    <u>{{wfInputForm.value.wfOptMachineId}}</u>
                    <span *ngIf="wfInputForm.value.wfFormSplit != 0"
                          class="processBGColor">分单:&nbsp;{{wfInputForm.value.wfFormSplit}}</span>
                    <span *ngIf="wfInputForm.value.wfFormExcept == true"
                          class="processBGColor">&nbsp;&nbsp;異常!&nbsp;</span>
                    <span *ngIf="wfInputForm.value.wfErrorMsg != ' ' && wfInputForm.value.wfErrorMsg != ''"
                          class="processColor">&nbsp;&nbsp;注意:&nbsp;{{wfInputForm.value.wfErrorMsg}}</span>
                </b>
            </ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="wfInputForm" (ngSubmit)="onSubmit()">
        <ion-grid>
            <!-- header bar -->
            <ion-row wrap class="main headbar">
                <ion-col *ngFor="let wfOrderDetail of wfOrderDetails" [class.noPaddingCol]="wfOrderDetail.method === 'break' ">
                    <ion-row justify-content-center wrap [class.noPaddingRow]="wfOrderDetail.method === 'break'">
                        <ion-col *ngIf="wfOrderDetail.method === 'input'" no-padding>
                            <ion-row align-items-center>
                                <div class="inputLabel" no-padding>
                                    {{wfOrderDetail.title}}
                                </div>
                                <ion-input *ngIf="wfOrderDetail.type != 'textarea'"
                                           class="gridborder" [disabled]="wfOrderDetail.disabled"
                                           type={{wfOrderDetail.type}}
                                           [ngStyle]="{'width.em':wfOrderDetail.size}" formControlName={{wfOrderDetail.model}}></ion-input>

                                <ion-textarea *ngIf="wfOrderDetail.type === 'textarea'"
                                              formControlName={{wfOrderDetail.model}}
                                              [ngStyle]="{'width.em':wfOrderDetail.size}"
                                              class="textarea gridborder"></ion-textarea>
                            </ion-row>
                        </ion-col>

                        <ion-col *ngIf="wfOrderDetail.method === 'break'" no-padding [ngStyle]="{'width.em':wfOrderDetail.size, 'visibility':wfOrderDetail.visibility }" class="ageingSubPart subBreak"></ion-col>

                    </ion-row>
                </ion-col>
            </ion-row>

            <!-- Content Section -->
            <ion-row>
                <!-- Material Info and Serial # -->
                <ion-col class="main" col-5 no-padding>
                    <!-- Header -->
                    <ion-row style="margin-top: 8px; margin-bottom: -3px;">
                        <ion-col col-1></ion-col>
                        <ion-col text-center col-6>
                            <h4 class="inputHeader">材料</h4>
                        </ion-col>
                        <ion-col text-center>
                            <h4 class="inputHeader">批号</h4>
                        </ion-col>
                    </ion-row>

                    <!-- Body -->
                    <ion-row *ngFor="let wfRMDetail of wfRMDetails" justify-content-center align-items-center>
                        <ion-col wrap col-auto class="materialLabel">
                            <div class="inputLabel">
                                {{wfRMDetail.title}}
                            </div>
                        </ion-col>
                        <ion-col col-6>
                            <!--<ion-input *ngIf="!((wfRMDetail.modelName == 'wfRMFoilPosLName' && wfInputForm.value.wfProcess == '1') || (wfRMDetail.modelName == 'wfRMFoilNegLName' && wfInputForm.value.wfProcess == '1') || (wfRMDetail.modelName == 'wfRMPinAmtName' && wfInputForm.value.wfProcess == '1') || (wfRMDetail.modelName == 'wfRMCoverCheck'))" class="gridborder" disabled value={{wfInputForm.controls[wfRMDetail.modelName].value}}></ion-input>-->
                            <!--<ion-input *ngIf="((wfRMDetail.modelName == 'wfRMFoilPosLName' && wfInputForm.value.wfProcess == '1') || (wfRMDetail.modelName == 'wfRMFoilNegLName' && wfInputForm.value.wfProcess == '1') || (wfRMDetail.modelName == 'wfRMPinAmtName' && wfInputForm.value.wfProcess == '1') || (wfRMDetail.modelName == 'wfRMCoverCheck'))" class="gridborder" value={{wfInputForm.controls[wfRMDetail.modelName].value}}></ion-input>-->
                            <ion-input class="gridborder"
                                       type={{wfRMDetail.type}}
                                       value={{wfInputForm.controls[wfRMDetail.modelName].value}}>
                            </ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-input *ngIf="wfRMDetail.modelName!= 'wfRMCoverCheck' && wfRMDetail.modelName != 'wfRMFoilPosQty' && wfRMDetail.modelName != 'wfRMFoilNegQty' && wfRMDetail.modelName != 'wfRMPaperQty' && wfRMDetail.modelName != 'wfRMSolQty' && wfRMDetail.modelName != 'wfRMPinPosQty' && wfRMDetail.modelName != 'wfRMPlasticQty' && wfRMDetail.modelName != 'wfRMShellQty' && wfRMDetail.modelName != 'wfRMCoverQty'" class="gridborder" value={{wfInputForm.controls[wfRMDetail.modelSerial].value}}
                                       type={{wfRMDetail.type}} ></ion-input>
                        </ion-col>
                        <!-- This is the break line-->
                        <ion-col col-11 *ngIf="wfRMDetail.modelName === 'wfRMGlueName' || wfRMDetail.modelName === 'wfRMFoilPosQty' || wfRMDetail.modelName === 'wfRMFoilNegQty' || wfRMDetail.modelName == 'wfRMPaperQty' || wfRMDetail.modelName == 'wfRMSolQty' || wfRMDetail.modelName == 'wfRMPinPosQty' || wfRMDetail.modelName == 'wfRMPlasticQty' || wfRMDetail.modelName == 'wfRMShellQty' " no-padding style="width: 88em;" class="ageingSubPart"></ion-col>
                    </ion-row>

                </ion-col>

                <!-- Production Record + Ageing + Staff input -->
                <ion-col col-7>

                    <!-- Production input field -->
                    <ion-row class="sec lessSpace" align-self-stretch justify-content-left>
                        <ion-col>
                            <ion-row>
                                <h4 class="inputHeader" style="display: inline-block; margin: 0;">
                                    <!--<ion-icon name="clipboard"></ion-icon>-->
                                    &nbsp; 生產记录
                                </h4>
                            </ion-row>
                            <ion-row>
                                <!-- Input field form -->
                                <ion-col *ngFor="let wfInput of wfOpsInputs" col-auto>

                                    <!-- Simple Input field -->
                                    <ion-row *ngIf="wfInput.method == 'input'" align-items-center justify-content-center>

                                        <div *ngIf="wfInput.inputType == 4" style="margin-left: 5px;margin-right: 5px;">
                                            <!--<ion-icon name="{{wfInput.icon}}"></ion-icon>-->
                                            {{wfInput.title}}
                                        </div>

                                        <ion-input *ngIf="wfInput.inputType == 7" type={{wfInput.type}} formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>


                                        <ion-input *ngIf="wfInput.inputType == 7" type={{wfInput.type}} formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                        <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                            扫一扫
                                        </button>
                                    </ion-row>

                                    <ion-row *ngIf="wfInput.method == 'input' && wfInputForm.value.wfProcess == '9' && wfInput.title != '分單' " align-items-center justify-content-center>

                                        <div *ngIf="wfInputForm.value.wfProcess == 9" style="margin-left: 5px;margin-right: 5px;">
                                            {{wfInput.title}}
                                        </div>

                                        <ion-input *ngIf="wfInput.type != 'textarea'" type={{wfInput.type}} formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                        <ion-textarea *ngIf="wfInput.type === 'textarea'" formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="textarea gridborder"></ion-textarea>

                                        <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                            扫一扫
                                        </button>
                                    </ion-row>

                                    <ion-row *ngIf="wfInput.method == 'buttons' && wfInputForm.value.wfProcess == '9'" justify-content-left align-items-center>
                                        <div class="inputLabel">
                                            {{wfInput.title}}
                                        </div>

                                        <ion-buttons>
                                            <button *ngFor="let button of wfInput.buttons" (click)="updateForm(wfInput.model, button.value)" [ngClass]="{'buttonsSelected': wfInputForm.controls[wfInput.model].value === button.value}" ion-button round outline type="button" style="width: auto;">
                                                &nbsp; {{button.label}}
                                            </button>
                                        </ion-buttons>
                                    </ion-row>


                                    <ion-col *ngIf="wfInput.method == 'inputs' && wfInputForm.value.wfProcess != '9' ">
                                        <ion-row *ngIf="wfInput.header" align-items-center justify-content-center>
                                            <div style="width: 45px;"></div>
                                            <div style="text-align: center;">
                                                {{wfInput.header}}
                                            </div>
                                            <div style="text-align: center;">
                                                {{wfInput.header}}
                                            </div>
                                        </ion-row>

                                        <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center>

                                            <div *ngIf="option.inputType == 1 && wfInputForm.value.wfProcess != '2' && wfInputForm.value.wfProcess != '3' && wfInputForm.value.wfProcess != '5'" class="inputLabel">
                                                {{option.title}}&nbsp;
                                            </div>
                                            <div *ngIf="option.inputType == 2 && wfInputForm.value.wfProcess == '2'" class="inputLabel">
                                                {{option.title}}&nbsp;
                                            </div>
                                            <div *ngIf="option.inputType == 3 && wfInputForm.value.wfProcess == '3'" class="inputLabel">
                                                {{option.title}}&nbsp;
                                            </div>
                                            <div *ngIf="option.inputType == 5 && wfInputForm.value.wfProcess == '5'" class="inputLabel">
                                                {{option.title}}&nbsp;
                                            </div>
                                            <div *ngIf="(option.type == 'date' || option.type == 'time') && option.inputType != 5" class="inputLabel">
                                                {{option.title}}&nbsp;
                                            </div>
                                            <!-- datetime -->
                                            <div *ngIf="option.type == 'date'" [ngStyle]="{'width.em':option.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                                <!-- <ion-icon *ngIf="option.type == 'date'" name="md-calendar" style="font-size:1.6em; margin: 0 6px;"></ion-icon> -->
                                                <ion-datetime formControlName={{option.model}} #picker pickerFormat="DD/MM/YYYY" [min]="datePickerMin" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                            </div>

                                            <div *ngIf="option.type == 'time' && option.inputType != 5 " [ngStyle]="{'width.em':option.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                                <!-- <ion-icon *ngIf="option.type == 'time'" name="md-clock" style="font-size:1.6em; margin: 0 6px;"></ion-icon> -->
                                                <ion-datetime formControlName={{option.model}} #picker displayFormat="HH:mm" pickerFormat="HH:mm" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                            </div>

                                            <div *ngIf="option.type == 'time' && option.inputType === 5 && wfInputForm.value.wfProcess == '5'" [ngStyle]="{'width.em':option.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                                <!-- <ion-icon *ngIf="option.type == 'time'" name="md-clock" style="font-size:1.6em; margin: 0 6px;"></ion-icon> -->
                                                <ion-datetime formControlName={{option.model}} #picker displayFormat="HH:mm" pickerFormat="HH:mm" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                            </div>

                                            <div *ngIf="option.model === 'wfOptStartTime' || option.model === 'wfOptFinishTime'" class="inputLabel">
                                                {{option.title}}&nbsp;
                                            </div>

                                            <ion-input *ngIf="option.model === 'wfOptStartTime' || option.model === 'wfOptFinishTime'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                            <ion-input *ngIf="option.type != 'date' && option.type != 'time' && option.inputType == 1 && wfInputForm.value.wfProcess != '2' && wfInputForm.value.wfProcess != '3' && wfInputForm.value.wfProcess != '5'" formControlName={{option.model}} type={{option.type}}
                                                       [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                            <ion-input *ngIf="option.type != 'date' && option.type != 'time' && option.inputType == 2 && wfInputForm.value.wfProcess == '2'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                            <ion-input *ngIf="option.type != 'date' && option.type != 'time' && option.inputType == 3 && wfInputForm.value.wfProcess == '3'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                            <ion-input *ngIf="option.type != 'date' && option.type != 'time' && option.inputType == 5 && wfInputForm.value.wfProcess == '5'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                            <button *ngIf="option.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                                扫一扫
                                            </button>
                                        </ion-row>

                                    </ion-col>

                                    <!--<ion-col *ngIf="wfInput.method === 'table' && wfInputForm.value.wfProcess != '1' && wfInputForm.value.wfProcess != '2' && wfInputForm.value.wfProcess != '3' && wfInputForm.value.wfProcess != '4' && wfInputForm.value.wfProcess != '5' && wfInputForm.value.wfProcess != '6' && wfInputForm.value.wfProcess != '9' && wfInputForm.value.wfProcess != '10' ">-->
                                    <ion-col *ngIf="wfInput.method === 'table'">
                                        <!-- table header -->
                                        <ion-row justify-content-center align-items-center>
                                            <div class="inputLabel tableAgeDivColLabel"></div>
                                            <ion-col *ngFor="let header of wfInput.headers">
                                                <div class="tableAgeColDivTitle">
                                                    {{header.title}}
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                        <!-- table body -->
                                        <ion-row *ngFor="let row of wfInput.rows" align-items-center justify-content-center>
                                            <div class="inputLabel tableAgeRow">{{row.title}}</div>
                                            <ion-col *ngFor="let col of row.cols">
                                                <div *ngIf="col.wftotal == 't'" class="inputLabel tableAgeRow">{{col.title}}</div>
                                                <ion-input *ngIf="col.wftotal != 't'" formControlName="{{col.model}}" [ngStyle]="{'width.em': col.size}" [ngClass]="{dim: col.disabled}" class="gridborder" type="{{col.type}}"></ion-input>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                    <ion-col *ngIf="wfInput.method == 'breaks'" col-3>
                                    </ion-col>

                                    <ion-row *ngIf="wfInput.method == 'textarea'" align-items-center>
                                        <div class="inputLabel">
                                            {{wfInput.title}}
                                        </div>
                                        <ion-textarea formControlName={{wfInput.model}} class="gridborder">
                                        </ion-textarea>
                                    </ion-row>

                                    <ion-col *ngIf="wfInput.method == 'inputs' + wfNavParams.wfProcess">
                                        <ion-row *ngIf="wfInput.header" align-items-center justify-content-center>
                                            <div style="width: 45px;"></div>
                                            <div style="text-align: center;">
                                                {{wfInput.header}}
                                            </div>
                                        </ion-row>

                                        <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center>

                                            <div class="inputLabel">
                                                {{option.title}}
                                            </div>

                                            <div *ngIf="option.type == 'date'" [ngStyle]="{'width.em':option.size}" class="gridborder">
                                                <ion-datetime formControlName={{option.model}} displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
                                            </div>

                                            <div *ngIf="option.type == 'time'" [ngStyle]="{'width.em':option.size}" class="gridborder">
                                                <ion-datetime formControlName={{option.model}} displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
                                            </div>

                                            <ion-input *ngIf="option.type != 'date' && option.type != 'time'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                            <button *ngIf="option.scan" item-end ion-button class="barcodeButton" type="button" (click)="checkBeforeScan()">
                                                扫一扫
                                            </button>
                                        </ion-row>

                                    </ion-col>

                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <!-- aging Details input field -->
                    <ion-row *ngIf="wfInputForm.value.wfProcess == '7'" class="sec lessSpace" justify-content-left>

                        <!-- Input field header -->
                        <ion-col text-left col-12>
                            <h4 class="inputHeader">
                                <!-- <ion-icon name="md-contacts"></ion-icon> -->
                                &nbsp; 老化标淮
                            </h4>
                        </ion-col>

                        <!-- Input field form -->
                        <ion-col *ngFor="let wfInput of wfAgeDetailInputs" col-auto align-items-left justify-content-center>

                            <!-- Simple Input field -->
                            <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center class="rowSpace">


                                <div class="inputLabel short">
                                    {{option.title}}
                                </div>

                                <!-- datetime -->
                                <div *ngIf="option.type == 'date'" [ngStyle]="{'width.em':option.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                    <!--<ion-icon *ngIf="option.type == 'date'" name="md-calendar" style="font-size:1.6em; margin: 0 6px;"></ion-icon>-->
                                    <ion-datetime formControlName={{option.model}} #picker pickerFormat="DD/MM/YYYY" [min]="datePickerMin" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                </div>
                                <div *ngIf="option.type == 'time'" [ngStyle]="{'width.em':option.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                    <!--<ion-icon *ngIf="option.type == 'time'" name="md-clock" style="font-size:1.6em; margin: 0 6px;"></ion-icon>-->
                                    <ion-datetime formControlName={{option.model}} #picker displayFormat="HH:mm" pickerFormat="HH:mm" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                </div>

                                <ion-input *ngIf="option.type != 'date' && option.type != 'time'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>


                            </ion-row>

                        </ion-col>

                    </ion-row>
                    <!-- end aging Details input field -->

                    <!-- Ageing Input field -->
                    <ion-row *ngIf="wfInputForm.value.wfProcess == '7x'" class="sec" align-items-center justify-content-start>

                        <!-- Ageing field Title -->
                        <ion-col col-12>
                            <div class="inputHeader">
                                <!--<ion-icon name="md-color-wand"></ion-icon>-->
                                &nbsp; 老化工序
                            </div>

                            <!-- Array begins at 0-->
                            <button *ngFor="let wfAgeingOptSeq of [0,1,2,3]" [ngClass]="{'buttonsSelected': this.wfAgeingSeqDisplay == wfAgeingOptSeq }" (click)="this.wfAgeingSeqDisplay = wfAgeingOptSeq;" item-right ion-button outline type="button" round>
                              第{{wfAgeingOptSeq + 1}}次作业
                            </button>
                        </ion-col>

                        <!-- Auto老化 Input field form -->
                        <!-- Ageing Input -->
                        <ion-col>
                            <ion-row *ngFor="let wfInput of wfAgeingDetails[this.wfAgeingSeqDisplay]" align-items-center>

                                {{wfInput.title}}&nbsp;&nbsp;

                                <!-- Auto Ageing 2nd part -->


                                <div>
                                    <ion-input *ngIf="wfInput.method == 'input'" formControlName={{wfInput.model}} type={{wfInput.type}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>
                                </div>

                                <div *ngIf="wfInput.type == 'date'" [ngStyle]="{'width.em':wfInput.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                    <!--<ion-icon *ngIf="wfInput.type == 'date'" name="md-calendar" style="font-size:1.6em; margin: 0 6px;"></ion-icon>-->
                                    <ion-datetime formControlName={{wfInput.model}} #picker pickerFormat="DD/MM/YYYY" [min]="datePickerMin" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                </div>
                                <div *ngIf="wfInput.type == 'time'" [ngStyle]="{'width.em':wfInput.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                    <!--<ion-icon *ngIf="wfInput.type == 'time'" name="md-clock" style="font-size:1.6em; margin: 0 6px;"></ion-icon>-->
                                    <ion-datetime formControlName={{wfInput.model}} #picker displayFormat="HH:mm" pickerFormat="HH:mm" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                </div>

                                <!-- table body -->
                                <ion-row *ngFor="let row of wfInput.data" align-items-center justify-content-center>
                                    <div class="inputLabel" style="width: 60px;">{{row.label}}</div>
                                    <ion-col>
                                        <ion-input formControlName="{{row.model}}" [ngStyle]="{'width.em': row.size}" [ngClass]="{dim: row.disabled}" class="gridborder" type="{{row.type}}"></ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-row>

                        </ion-col>

                    </ion-row>

                    <!-- Workflow People input field -->
                    <ion-row class="sec staff" align-items-center justify-content-left>
                        <!-- Input field header -->
                        <ion-col text-left col-12>
                            <h4 class="inputHeader">
                                <!--<ion-icon name="md-contacts"></ion-icon>-->
                                &nbsp; 员工信息
                            </h4>
                        </ion-col>

                        <!-- Input field form -->
                        <ion-col *ngFor="let wfInput of wfPplInputs" col-auto align-items-left justify-content-center>

                            <!-- Simple Input field -->
                            <ion-row *ngIf="(wfInput.method == 'input') && (wfInput.wfPplI != 4) && (wfInput.wfPplI != 6)" align-items-center justify-content-center>

                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>
                                <div (click)="showWfOpsInputsAlert(wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty)">
                                    <ion-row>
                                        <ion-input (change)="this.wfSvc.updateTextChg3(this.wfInputForm);" *ngIf="wfInput.wfPplI == 1" formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>
                                        <ion-input *ngIf="wfInput.wfPplI == 2"
                                                   formControlName={{wfInput.model}}
                                                   type={{wfInput.type}}
                                                   value={{wfInputForm.controls[wfInput.model].value}}
                                                   [ngStyle]="{'width.em':wfInput.size}"
                                                   class="gridborder"></ion-input>

                                        <ion-input *ngIf="wfInput.wfPplI == 3"
                                                   formControlName={{wfInput.model}}
                                                   type={{wfInput.type}}
                                                   value={{wfInputForm.controls[wfInput.model].value}}
                                                   [ngStyle]="{'width.em':wfInput.size}"
                                                   class="gridborder"></ion-input>

                                        <ion-input style="display: inline-block;" [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" *ngIf="wfInput.wfPplI == 5" formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}}
                                                   [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>
                                        <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                            <ion-icon md="md-barcode"></ion-icon>
                                        </button>
                                    </ion-row>
                                </div>
                                <!--
                              <div on-mouseover="showWfOpsInputsAlert(wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty)">
                                  <button [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" *ngIf="wfInput.scan == 3" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                  扫一扫
                              </button>
                              </div>
                              <div on-mouseover="showWfQCPassAlert(wfInputForm.value.wfQCPass)">

                              </div>
                              -->
                            </ion-row>

                            <!-- Simple Input field -->
                            <ion-row *ngIf="(wfInput.method == 'input') && (wfInput.wfPplI == 4) && (wfInputForm.value.wfProcess != '9')" align-items-center justify-content-center>

                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>
                                <div (click)="showWfOpsInputsAlert(wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty)">
                                    <ion-input formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>
                                </div>
                                <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                    <ion-icon md="md-barcode"></ion-icon>
                                </button>
                            </ion-row>

                            <!-- Simple Input field -->
                            <ion-row *ngIf="(wfInput.method == 'input') && (wfInput.wfPplI == 6) && (wfInputForm.value.wfProcess == '9')" align-items-center justify-content-center>

                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>
                                <div (click)="showWfOpsInputsAlert(wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty)">
                                    <ion-input formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>
                                </div>
                                <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                    <ion-icon md="md-barcode"></ion-icon>
                                </button>
                            </ion-row>

                            <ion-row *ngIf="wfInput.method == 'textarea'" align-items-center>
                                <div class="inputLabel">
                                    备注
                                </div>
                                <ion-textarea formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="textarea gridborder"></ion-textarea>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button ion-button type="button" (click)="this.photoSvc.shoot(this.images, this.wfInputForm)">
                                  <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                                  &nbsp; 拍照
                              </button>

                            </ion-row>

                            <!-- Select Buttons -->
                            <ion-row *ngIf="wfInput.method == 'buttons' && (wfInputForm.value.wfProcess != '9')" align-items-center>
                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>

                                <ion-input formControlName={{wfInput.model}} hidden></ion-input>

                                <ion-buttons>
                                    <button *ngFor="let button of wfInput.buttons" ion-button round outline type="button" style="width: auto;" (click)="updateForm(wfInput.model,button.value)" [ngClass]="{'buttonsSelected': wfInputForm.controls[wfInput.model].value === button.value}">
                                  <ion-icon name="{{button.icon}}"></ion-icon>
                                  &nbsp; {{button.label}}
                                </button>
                                </ion-buttons>
                            </ion-row>

                            <!-- Break -->
                            <div *ngIf="wfInput.method == 'break'" [ngStyle]="{'width.em':wfInput.size}">
                            </div>

                        </ion-col>

                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button"
                                    [disabled]="this.wfInputForm.value.wfReadOnly"
                                    ion-button
                                    style="width: 80px;"
                                    (click)="this.wfSvc.showWfOpsFinalInputsAlert(wfInputForm.value.wfOrderTotalQty, wfInputForm.value.wfOrderTotalGoodQty, wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty,this.wfInputForm,this.navCtrl,this.images, '电容器流程卡')">
                              上存
                          </button>

                        </div>

                        <ion-row class="row" justify-content-center="" wrap="">
                            <!---->

                            <!---->
                            <ion-col class="ageingSubPart subBreak col" no-padding="" style="width: 88em; visibility: hidden;"></ion-col>

                        </ion-row>
                        <ion-row>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" ion-button (click)="this.wfSvc.cancelBtn(this.navCtrl)">
                                取消
                            </button>

                        </ion-row>

                    </ion-row>

                </ion-col>

                <ion-col>
                    <ion-row *ngFor="let image of images">
                        <img src="{{image}}" class="img">
                        <!-- <ion-img src="{{image}}"></ion-img> -->
                        <button ion-button type="button" (click)="this.photoSvc.imgDelete(this.images, iX, this.wfInputForm)">
                                <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon></button>
                    </ion-row>
                </ion-col>

            </ion-row>
        </ion-grid>
    </form>
</ion-content>