page-edit-workflow2 {
    .inputHeader {
        margin-top: 10px !important;
        margin-left: 1em !important;
        margin-bottom: 5px;
        font-size: 14px;
        //position: relative;
        align-items: left;
    }
    .inputLabel.short {
        min-width: 20px !important;
    }
    .inputLabel {
        font-size: 12.9px !important;
    }
    .toolbar-title.toolbar-title-md {
        font-size: 25px;
    }
    ion-row.rowSpace.row {
        margin: 6px 0;
    }
    ion-row.sec.lessSpace.row {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ion-navbar div img {
        position: initial;
        vertical-align: middle;
    }
    .inputLabel.tableAgeRow {
        min-width: 0px !important;
    }
    .tableAgeColDivTitle {
        text-align: center;
    }
    .tableAgeDivColLabel {
        min-width: 0px !important;
    }
    ion-col.materialLabel.col {
        width: 14%;
    }
    .noPaddingCol {
        padding: 0px !important;
    }
    .subBreak {
        margin: 0px !important;
        padding: 0px !important;
    }
    .processBGColor {
        background-color: #FF0;
        border-radius: 25px;
        padding: 5px;
    }
}

.main {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: orange;
    margin-bottom: 10px;
    //background-color: orange;
}

.sec {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #8e9093;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.gridborder {
    border: 1px solid #cccccc !important;
    border-radius: 5px !important;
    padding: 1px !important;
    text-align: center !important;
    p {
        margin-left: 10px;
    }
}

.pad {
    padding: 5px;
}

ion-textarea :focus {
    overflow: hidden;
    height: 50px !important;
}

input {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

ion-label {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    margin-left: 8px !important;
}

ion-item {
    margin-left: 0px !important;
}

.picker-wrapper {
    transform: translateY(-100%) !important;
}
