<ion-header style="margin-top: 0px !important;margin-left: 0px !important;">
    <ion-navbar>
        <div style="align-items: center; display: inline;">
            <img src="./assets/img/vt_icon.png" class="icon">
            <ion-title>
                &nbsp; ( {{wfNavParams.wfFormName}} )&nbsp; 工序:&nbsp; {{wfNavParams.wfProcessName}}
            </ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="wfInputForm" (ngSubmit)="onSubmit()">
        <ion-grid>
            <!-- header bar -->
            <ion-row wrap class="main headbar">
                <ion-col *ngFor="let wfOrderDetail of wfOrderDetails">
                    <ion-row justify-content-center wrap>
                        <ion-col *ngIf="wfOrderDetail.method === 'input'">
                            <ion-row align-items-center>
                                <div class="inputLabel">{{wfOrderDetail.title}}</div>
                                <ion-input *ngIf="wfOrderDetail.type != 'textarea'" class="gridborder" disabled type={{wfOrderDetail.type}} [ngStyle]="{'width.em':wfOrderDetail.size}" formControlName={{wfOrderDetail.model}}></ion-input>

                                <ion-textarea *ngIf="wfOrderDetail.type === 'textarea'" formControlName={{wfOrderDetail.model}} [ngStyle]="{'width.em':wfOrderDetail.size}" class="textarea gridborder"></ion-textarea>
                            </ion-row>
                        </ion-col>

                        <ion-col *ngIf="wfOrderDetail.method === 'break'" [ngStyle]="{'width.em':wfOrderDetail.size}"></ion-col>

                    </ion-row>
                </ion-col>
            </ion-row>

            <!-- Content Section -->
            <ion-row>
                <!-- Material Info and Serial # -->
                <ion-col class="main" col-5 no-padding>
                    <!-- Header -->
                    <ion-row>
                        <ion-col col-1></ion-col>
                        <ion-col text-center col-7>
                            <h4 class="header">材料</h4>
                        </ion-col>
                        <ion-col text-center>
                            <h4 class="header">批号</h4>
                        </ion-col>
                    </ion-row>

                    <!-- Body -->
                    <ion-row *ngFor="let wfRMDetail of wfRMDetails" justify-content-center align-items-center>
                        <ion-col wrap col-auto>
                            <div class="inputLabel">
                                {{wfRMDetail.title}}
                            </div>
                        </ion-col>
                        <ion-col col-6>
                            <ion-input class="gridborder" disabled formControlName={{wfRMDetail.modelName}} value={{wfRMDetail.valueName}}></ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-input class="gridborder" disabled formControlName={{wfRMDetail.modelSerial}} value={{wfRMDetail.valueSerial}}></ion-input>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <!-- Production Record + Ageing + Staff input -->
                <ion-col col-7>

                    <!-- Production input field -->
                    <ion-row class="production sec" align-self-stretch justify-content-left>

                        <!-- Production Input field header -->
                        <ion-col class="prodHeader" col-12>
                            <h4 class="header">
                                <ion-icon name="clipboard"></ion-icon>
                                &nbsp; 生產记录
                            </h4>
                        </ion-col>

                        <!-- Production Input field form -->
                        <ion-col *ngFor="let wfInput of wfOpsInputs" col-auto>

                            <!-- Simple Input field -->
                            <ion-row *ngIf="wfInput.method == 'input'" align-items-center justify-content-center>

                                <div class="inputTitle" style="margin-left: 5px; margin-right: 5px;">
                                    {{wfInput.title}}
                                </div>

                                <ion-input type="{{wfInput.type}}" formControlName="{{wfInput.model}}" [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="scanBarcode(wfInput.model)">
                  扫一扫
                </button>
                            </ion-row>

                            <ion-row *ngIf="wfInput.method == 'buttons'" justify-content-left align-items-center>
                                <div class="inputLabel">
                                    <!--<ion-icon name="{{wfInput.icon}}"></ion-icon>-->
                                    {{wfInput.title}}
                                </div>

                                <ion-buttons>
                                    <button ion-button round outline type="button" style="width: auto;" *ngFor="let button of wfInput.buttons" (click)="updateForm(wfInput.model,button.value)" [ngClass]="{'buttonsSelected': wfInputForm.controls[wfInput.model].value === button.value}">
                    <!--<ion-icon name="{{button.icon}}"></ion-icon>-->
                    &nbsp; {{button.label}}
                  </button>
                                </ion-buttons>
                            </ion-row>

                            <ion-col *ngIf="wfInput.method == 'inputs'">
                                <ion-row *ngIf="wfInput.header" align-items-center justify-content-center>
                                    <div style="width: 45px;"></div>
                                    <div style="text-align: center;">
                                        {{wfInput.header}}
                                    </div>
                                </ion-row>

                                <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center>

                                    <div class="inputLabel">
                                        {{option.title}}
                                    </div>

                                    <div *ngIf="option.type == 'date'" [ngStyle]="{'width.em':option.size}" class="gridborder">
                                        <ion-datetime formControlName="{{option.model}}" displayFormat="YYYY/MM/DD" pickerFormat="YYYY MM DD"></ion-datetime>
                                    </div>


                                    <ion-input *ngIf="option.type != 'date'" formControlName="{{option.model}}" type="{{option.type}}" [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                    <button *ngIf="option.scan" item-end ion-button class="barcodeButton" type="button" (click)="scanBarcode(option.model)">
                    <!--<ion-icon name="barcode"></ion-icon>-->
                    扫一扫
                  </button>
                                </ion-row>

                            </ion-col>

                            <ion-col *ngIf="wfInput.method == 'breaks'" col-3>

                            </ion-col>

                            <ion-row *ngIf="wfInput.method == 'textarea'" align-items-center>
                                <div class="inputLabel">
                                    <!--<ion-icon name="chatbubbles"></ion-icon>-->
                                    {{wfInput.title}}
                                </div>
                                <ion-textarea formControlName="{{wfInput.model}}" style="min-width: auto;" class="gridborder">
                                </ion-textarea>
                            </ion-row>

                            <ion-col *ngIf="wfInput.method == 'inputs' + wfNavParams.wfProcess">
                                <ion-row *ngIf="wfInput.header" align-items-center justify-content-center>
                                    <div style="width: 45px;"></div>
                                    <div style="text-align: center;">
                                        {{wfInput.header}}
                                    </div>
                                </ion-row>

                                <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center>

                                    <div class="prodLabel">
                                        <!--<ion-icon name="{{option.icon}}"></ion-icon>-->
                                        {{option.title}}
                                    </div>

                                    <div *ngIf="option.type == 'date'" [ngStyle]="{'width.em':option.size}" class="gridborder">
                                        <ion-datetime formControlName="{{option.model}}" displayFormat="YYYY/MM/DD" pickerFormat="YYYY MM DD"></ion-datetime>
                                    </div>

                                    <ion-input *ngIf="option.type != 'date'" formControlName="{{option.model}}" type="{{option.type}}" [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                    <button *ngIf="option.scan" item-end ion-button class="barcodeButton" type="button" (click)="scanBarcode(option.model)">
                    <!--<ion-icon name="barcode"></ion-icon>-->
                    扫一扫
                  </button>
                                </ion-row>

                            </ion-col>

                            <ion-col *ngIf="wfInput.method === 'table'">
                                <!-- table header -->
                                <ion-row justify-content-center align-items-center>
                                    <div class="inputLabel" style="width: 60px;"></div>
                                    <ion-col *ngFor="let header of wfInput.headers">
                                        <div style="text-align: center;">
                                            {{header.title}}
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <!-- table body -->
                                <ion-row *ngFor="let row of wfInput.rows" align-items-center justify-content-center>
                                    <div class="inputLabel" style="width: 60px;">{{row.title}}</div>
                                    <ion-col *ngFor="let col of row.cols">
                                        <ion-input formControlName="{{col.model}}" [ngStyle]="{'width.em': wfInput.size}" [ngClass]="{dim: col.disabled}" class="gridborder" type="{{col.type}}"></ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-col>

                        </ion-col>

                    </ion-row>

                    <!-- Ageing Input field -->
                    <ion-row *ngIf=" wfNavParams.wfProcess== '5a0' || wfNavParams.wfProcess == '5b0'" class="sec" align-items-center justify-content-start>

                        <!-- Ageing field Title -->
                        <ion-col col-12>
                            <div *ngIf="wfNavParams.wfProcess== '5a0'" class="header">
                                <ion-icon name="md-hand"></ion-icon>
                                &nbsp; 手工老化
                            </div>
                            <div *ngIf="wfNavParams.wfProcess== '5b0'" class="header">
                                <ion-icon name="ios-color-wand-outline"></ion-icon>
                                &nbsp; 自动老化
                            </div>
                        </ion-col>

                        <!-- Auto老化 Input field form -->
                        <ion-col col-auto>
                            <ion-row>

                                <!-- Ageing Header -->
                                <ion-col col-12>
                                    <ion-row>
                                        <div style="width: 45px">
                                            &nbsp; &nbsp;
                                        </div>

                                        <div style="width: 8em; text-align: center;">
                                            <!--<ion-icon name="clipboard"></ion-icon>-->
                                            &nbsp; 规格
                                        </div>

                                        <div style="width: 8em; text-align: center;">
                                            <!--<ion-icon name="clipboard"></ion-icon>-->
                                            &nbsp; 实际
                                        </div>
                                    </ion-row>
                                </ion-col>

                                <!-- Ageing Input -->
                                <ion-col>
                                    <ion-row *ngFor="let wfInput of wfAgeingDetails" align-items-center>

                                        <!-- Simple Input field -->
                                        <div class="inputLabel">
                                            {{wfInput.title}}
                                        </div>

                                        <div *ngFor="let col of wfInput.cols">
                                            <div *ngIf="col.auto === false" [ngStyle]="{'width.em':wfInput.size}">
                                                <ion-input formControlName="{{col.model}}" type="{{col.type}}" class="gridborder"></ion-input>
                                            </div>

                                            <div *ngIf="col.auto === true && wfNavParams.wfProcess == '5b0'" [ngStyle]="{'width.em':wfInput.size}">
                                                <ion-input formControlName="{{col.model}}" type="{{col.type}}" class="gridborder"></ion-input>
                                            </div>
                                        </div>
                                    </ion-row>
                                </ion-col>
                                <ion-col *ngIf="wfNavParams.wfProcess== '5a0'" padding-horizontal>
                                    <ion-row>
                                        <div class="inputLabel">
                                            特殊说明
                                        </div>
                                    </ion-row>
                                    <ion-textarea formControlName="wfAgeingNote" style="min-height: 20em; width: auto" class="gridborder">
                                    </ion-textarea>
                                </ion-col>

                                <!-- Auto Ageing 2nd part -->
                                <ion-row *ngIf="wfNavParams.wfProcess== '5b0'" class="ageingSubPart">

                                    <ion-col col-6>
                                        <ion-row wrap align-items-center>
                                            <ion-col *ngFor="let wfInput of wfAutoAgeingDetails" no-padding col-6>

                                                <ion-row align-items-center>
                                                    <div class="inputLabel">
                                                        {{wfInput.title}}
                                                    </div>

                                                    <div [ngStyle]="{'width.em':wfInput.size}">
                                                        <ion-input formControlName="{{wfInput.model}}" type="{{wfInput.type}}" no-padding class="gridborder"></ion-input>
                                                    </div>

                                                </ion-row>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                    <!-- Note -->
                                    <ion-col padding-horizontal>
                                        <ion-row>
                                            <div class="inputLabel">
                                                <!--<ion-icon name="chatbubbles"></ion-icon>-->
                                                特殊说明
                                            </div>
                                        </ion-row>
                                        <ion-textarea formControlName="wfAgeingNote" style="min-height: 20em; width: auto" class="gridborder">
                                        </ion-textarea>
                                    </ion-col>

                                </ion-row>


                            </ion-row>
                        </ion-col>

                    </ion-row>

                    <!-- Workflow People input field -->
                    <ion-row class="sec staff" align-items-center justify-content-left>

                        <!-- Input field header -->
                        <ion-col text-left col-12>
                            <h4 class="header">
                                <ion-icon name="md-contacts"></ion-icon>
                                &nbsp; 员工信息
                            </h4>
                        </ion-col>


                        <!-- Input field form -->
                        <ion-col *ngFor="let wfInput of wfPplInputs" col-auto align-items-left justify-content-center>

                            <!-- Simple Input field -->
                            <ion-row align-items-center justify-content-center *ngIf="wfInput.method == 'input'">

                                <div class="inputLabel">
                                    <!--<ion-icon name="{{wfInput.icon}}"></ion-icon>-->
                                    {{wfInput.title}}
                                </div>

                                <ion-input formControlName="{{wfInput.model}}" type="{{wfInput.type}}" [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="scanBarcode(wfInput.model)">
                  <!--<ion-icon name="barcode"></ion-icon>-->
                  扫一扫
                </button>

                            </ion-row>


                            <ion-row *ngIf="wfInput.method == 'textarea'" align-items-center>
                                <div class="inputLabel">
                                    <!--<ion-icon name="{{wfInput.icon}}"></ion-icon>-->
                                    备注
                                </div>
                                <ion-textarea formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="textarea gridborder"></ion-textarea>
                            </ion-row>

                            <!-- Select Buttons -->
                            <ion-row *ngIf="wfInput.method == 'buttons'" align-items-center>
                                <div class="inputLabel">
                                    <!--<ion-icon name="{{wfInput.icon}}"></ion-icon>-->
                                    {{wfInput.title}}
                                </div>

                                <ion-buttons>
                                    <button ion-button round outline type="button" style="width: auto;" *ngFor="let button of wfInput.buttons" (click)="updateForm(wfInput.model,button.value)" [ngClass]="{'buttonsSelected': wfInputForm.controls[wfInput.model].value === button.value}">
                    <ion-icon name="{{button.icon}}"></ion-icon>
                    &nbsp; {{button.label}}
                  </button>
                                </ion-buttons>
                            </ion-row>

                            <!-- Break -->
                            <div *ngIf="wfInput.method == 'break'" [ngStyle]="{'width.em':wfInput.size}">
                            </div>

                        </ion-col>

                    </ion-row>

                    <ion-row justify-content-end>
                        <button type="submit" ion-button>批次完成</button>
                    </ion-row>

                </ion-col>

            </ion-row>
        </ion-grid>
    </form>
</ion-content>