<ion-header style="margin-top: 0px !important;margin-left: 0px !important;">
    <ion-navbar hideBackButton>
        <div style="align-items: center; display: inline;">
            <ion-title>
                <img src="./assets/img/vt_icon.png" class="icon" style="position: initial !important; vertical-align: middle !important;">
                <b>&nbsp;( 贴片电容器流程卡 )&nbsp;工序:&nbsp;&nbsp;
                    <span class="processBGColor">{{wfInputForm.value.wfProcessName}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;流程卡号:&nbsp;
                    <u>{{wfInputForm.value.wfFormId}}</u>
                    &nbsp;&nbsp;&nbsp;&nbsp;机台号:&nbsp;
                    <u>{{wfInputForm.value.wfOptMachineId}}</u>
                    <span *ngIf="wfInputForm.value.wfFormSplit != 0"
                          class="processBGColor">分单:&nbsp;{{wfInputForm.value.wfFormSplit}}</span>
                    <span *ngIf="wfInputForm.value.wfFormExcept == true"
                          class="processBGColor">&nbsp;&nbsp;異常!&nbsp;</span>
                    <span *ngIf="wfInputForm.value.wfErrorMsg != ' ' && wfInputForm.value.wfErrorMsg != ''"
                          class="processColor">&nbsp;&nbsp;注意:&nbsp;{{wfInputForm.value.wfErrorMsg}}</span>
                </b>
            </ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="wfInputForm" (ngSubmit)="onSubmit()">
        <ion-grid>
            <!-- header bar -->
            <ion-row wrap class="main headbar">
                <ion-col *ngFor="let wfOrderDetail of wfOrderDetails" [class.noPaddingCol]="wfOrderDetail.method === 'break' ">
                    <ion-row justify-content-center wrap align-items-center>
                        <ion-col *ngIf="wfOrderDetail.method === 'label' && wfOrderDetail.process[wfInputForm.value.wfProcess]" justify-content-center wrap align-items-center class="inputLabel" no-padding col-auto>
                            <ion-row class="inputLabel" no-padding align-items-center>
                                参数要求
                            </ion-row>
                        </ion-col>

                        <ion-col *ngIf="wfOrderDetail.method === 'input' && wfOrderDetail.process[wfInputForm.value.wfProcess]" no-padding>

                            <ion-row align-items-center>

                                <div class="inputLabel" no-padding>
                                    {{wfOrderDetail.title}}
                                </div>
                                <ion-input *ngIf="wfOrderDetail.type != 'textarea' && !wfOrderDetail.disabled" class="gridborder" type={{wfOrderDetail.type}} [ngStyle]="{'width.em':wfOrderDetail.size}" formControlName={{wfOrderDetail.model}}></ion-input>
                                <ion-input *ngIf="wfOrderDetail.type != 'textarea' && wfOrderDetail.disabled" class="gridborder" disabled type={{wfOrderDetail.type}} [ngStyle]="{'width.em':wfOrderDetail.size}" formControlName={{wfOrderDetail.model}}></ion-input>
                                <ion-textarea *ngIf="wfOrderDetail.type === 'textarea'" formControlName={{wfOrderDetail.model}} [ngStyle]="{'width.em':wfOrderDetail.size}" class="textarea gridborder"></ion-textarea>
                                <button *ngIf="wfOrderDetail.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfOrderDetail.model, this.wfInputForm)">
                                    扫一扫
                                </button>
                            </ion-row>
                        </ion-col>

                        <ion-col *ngIf="wfOrderDetail.method === 'break'" no-padding [ngStyle]="{'width.em':wfOrderDetail.size, 'visibility':wfOrderDetail.visibility }" class="ageingSubPart subBreak"></ion-col>

                    </ion-row>
                </ion-col>
            </ion-row>

            <!-- Content Section -->
            <ion-row>
                <!-- Material Info and Serial # -->
                <ion-col class="main" col-5 no-padding>
                    <!-- Header -->
                    <ion-row>
                        <ion-col col-1></ion-col>
                        <ion-col text-center col-6>
                            <h4 class="inputHeader">材料</h4>
                        </ion-col>
                        <ion-col text-center>
                            <h4 class="inputHeader">批号/备注</h4>
                        </ion-col>
                    </ion-row>

                    <!-- Body -->
                    <ion-row *ngFor="let wfRMDetail of wfRMDetails" justify-content-center align-items-center>
                        <ion-col wrap col-auto>
                            <div class="inputLabel">
                                {{wfRMDetail.title}}
                            </div>
                        </ion-col>
                        <ion-col *ngIf="wfRMDetail.modelName != 'wfRMPrintName' && wfRMDetail.modelName != 'wfRMPrintNameText'" col-6>
                            <ion-input class="gridborder" disabled value={{wfInputForm.controls[wfRMDetail.modelName].value}}></ion-input>
                        </ion-col>
                        <ion-col *ngIf="wfRMDetail.modelName == 'wfRMPrintName'" col-6>
                            <ion-input class="gridborder" value={{wfInputForm.controls[wfRMDetail.modelName].value}}></ion-input>
                        </ion-col>
                        <ion-col *ngIf="wfRMDetail.modelName != 'wfRMPrintNameText'">
                            <ion-input class="gridborder" value={{wfInputForm.controls[wfRMDetail.modelSerial].value}}></ion-input>
                        </ion-col>
                        <ion-col *ngIf="wfRMDetail.modelName == 'wfRMPrintNameText'" col-7>
                            <ion-input class="gridborder" value={{wfInputForm.controls[wfRMDetail.modelName].value}}></ion-input>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <!-- Production Record + Ageing + Staff input -->
                <ion-col col-7>

                    <!-- Production input field -->
                    <ion-row class="sec" align-self-stretch justify-content-left>

                        <!-- Input field header -->
                        <ion-col col-12>
                            <h4 class="inputHeader">
                                <!--<ion-icon name="clipboard"></ion-icon>-->
                                &nbsp; 生產记錄
                            </h4>
                        </ion-col>

                        <!-- Input field form -->
                        <ion-col *ngFor="let wfInput of wfOpsInputs" col-auto>

                            <ion-col>
                                <!-- Simple Input field -->
                                <ion-row *ngIf="wfInput.method == 'input' && wfInput.process[wfInputForm.value.wfProcess]"
                                         align-items-center justify-content-center>

                                    <div *ngIf="wfInput.process[wfInputForm.value.wfProcess]" style="margin-left: 5px;margin-right: 5px;" class="inputLabel">
                                        {{wfInput.title}}
                                    </div>

                                    <ion-input *ngIf="wfInput.type != 'textarea'" type={{wfInput.type}} formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                    <ion-textarea *ngIf="wfInput.type === 'textarea'" formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="textarea gridborder"></ion-textarea>

                                    <button *ngIf="wfInput.scan" item-end ion-button
                                            class="barcodeButton"
                                            type="button"
                                            (click)="this.QRCode.staffScanBarcode(this.wfInputForm,this.staffTable,this.machineTable,wfInput.model)">
                                        扫一扫
                                    </button>
                                </ion-row>
                            </ion-col>

                            <ion-col>
                                <ion-row *ngIf="wfInput.method == 'buttons' && wfInput.process[wfInputForm.value.wfProcess]" justify-content-left align-items-center>
                                    <!--<div class="inputLabel">-->
                                        <!--{{wfInput.title}}-->
                                    <!--</div>-->

                                    <ion-buttons>
                                        <button *ngFor="let button of wfInput.buttons" (click)="updateForm(wfInput.model, button.value)" [ngClass]="{'buttonsSelected': this.wfSvc.toInt(wfInputForm.controls[wfInput.model].value) === button.value}" ion-button round outline type="button" style="width: auto;">
                                            &nbsp; {{button.label}}
                                        </button>
                                    </ion-buttons>
                                </ion-row>
                            </ion-col>

                            <ion-col *ngIf="wfInput.method == 'inputs' && wfInput.process[wfInputForm.value.wfProcess]">
                                <ion-row *ngIf="wfInput.header" align-items-center justify-content-center>
                                    <div style="width: 45px;"></div>
                                    <div style="text-align: center;">
                                        {{wfInput.header}}
                                    </div> 2
                                </ion-row>

                                <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center>

                                    <div *ngIf="option.process[wfInputForm.value.wfProcess]" class="inputLabel">
                                        {{option.title}}
                                    </div>
                                    <!-- datetime -->
                                    <div *ngIf="option.type == 'date' && option.process[wfInputForm.value.wfProcess]" [ngStyle]="{'width.em':option.size}" class="gridborder">
                                        <ion-datetime formControlName={{option.model}} #picker displayFormat="DD/MM/YYYY" [min]="datePickerMin" pickerFormat="DD MM YYYY"></ion-datetime>
                                    </div>

                                    <ion-input *ngIf="option.type != 'date' && option.process[wfInputForm.value.wfProcess]" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                    <button *ngIf="option.scan && option.process[wfInputForm.value.wfProcess]" item-end ion-button class="barcodeButton" type="button" (click)="scanBarcode(option.model)">
                                        扫一扫
                                    </button>
                                </ion-row>

                            </ion-col>


                            <ion-col *ngIf="wfInput.method === 'break' && option.process[wfInputForm.value.wfProcess]" no-padding>
                                <div [ngStyle]="{'width.em':wfInput.size}"></div>
                            </ion-col>


                            <ion-row *ngIf="wfInput.method == 'textarea' && option.process[wfInputForm.value.wfProcess]" align-items-center>
                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>
                                <ion-textarea formControlName={{wfInput.model}} style="min-width: auto;" class="gridborder">
                                </ion-textarea>
                            </ion-row>

                        </ion-col>

                    </ion-row>

                    <!-- Workflow People input field -->
                    <ion-row class="sec staff" align-items-center justify-content-left>

                        <!-- Input field header -->
                        <ion-col text-left col-12>
                            <h4 class="inputHeader">
                                <!--<ion-icon name="md-contacts"></ion-icon>-->
                                &nbsp; 员工信息
                            </h4>
                        </ion-col>

                        <!-- Input field form -->
                        <div *ngFor="let wfInput of wfPplInputs">
                            <ion-row>
                                <ion-col *ngIf="wfInput.process[wfInputForm.value.wfProcess]" col-auto align-items-left justify-content-center>

                                    <!-- Simple Input field -->
                                    <ion-row *ngIf="wfInput.method == 'input' && wfInput.process[wfInputForm.value.wfProcess]" align-items-center justify-content-center>

                                        <div class="inputLabel">
                                            {{wfInput.title}}
                                        </div>

                                        <ion-input *ngIf="wfInput.wfPplI != 1"
                                                   formControlName={{wfInput.model}}
                                                   type={{wfInput.type}}
                                                   value={{wfInputForm.controls[wfInput.model].value}}
                                                   (change)="this.wfSvc.populateStaffData(this.wfInputForm,this.staffTable,this.machineTable, wfInput.model);"
                                                   [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                        <ion-input *ngIf="wfInput.wfPplI == 1"
                                                   (change)="this.wfSvc.populateStaffData(this.wfInputForm,this.staffTable,this.machineTable, wfInput.model);"
                                                   value={{wfInputForm.controls[wfInput.model].value}}
                                                   class="gridborder"></ion-input>

                                        <div on-mouseover="showWfOpsInputsAlert(wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty)">
                                            <button *ngIf="wfInput.scan == 1" [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')"
                                                    item-end ion-button
                                                    class="barcodeButton" type="button"
                                                    (click)="this.QRCode.staffScanBarcode(this.wfInputForm,this.staffTable,this.machineTable,wfInput.model)">
                                                <ion-icon md="md-barcode"></ion-icon>
                                            </button>
                                            <button *ngIf="wfInput.scan == 2" [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.staffScanBarcode(this.wfInputForm,this.staffTable,this.machineTable,wfInput.model)">
                                                <ion-icon md="md-barcode"></ion-icon>
                                            </button>
                                            <button *ngIf="wfInput.scan == 3" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.staffScanBarcode(this.wfInputForm,this.staffTable,this.machineTable,wfInput.model)">
                                                <ion-icon md="md-barcode"></ion-icon>
                                            </button>
                                        </div>
                                        <div on-mouseover="showWfQCPassAlert(wfInputForm.value.wfQCPass)">
                                            <button *ngIf="wfInput.scan == 4 && wfInput.process[wfInputForm.value.wfProcess]" [disabled]="!(wfInputForm.value.wfQCPass == 2 || wfInputForm.value.wfQCPass == 1)" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.staffScanBarcode(this.wfInputForm,this.staffTable,this.machineTable,wfInput.model)">
                                                <ion-icon md="md-barcode"></ion-icon>
                                            </button>
                                        </div>
                                    </ion-row>


                                    <ion-row *ngIf="wfInput.method == 'textarea' && wfInput.process[wfInputForm.value.wfProcess]" align-items-center>
                                        <div class="inputLabel">
                                            备注
                                        </div>
                                        <ion-textarea formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="textarea gridborder"></ion-textarea>
                                    </ion-row>

                                    <!-- Select Buttons -->
                                    <ion-row *ngIf="wfInput.method == 'buttons' && wfInput.process[wfInputForm.value.wfProcess]" align-items-center>
                                        <div class="inputLabel">
                                            {{wfInput.title}}
                                        </div>

                                        <ion-input formControlName={{wfInput.model}} hidden></ion-input>


                                        <ion-buttons>
                                            <button ion-button round outline type="button" style="width: auto;" *ngFor="let button of wfInput.buttons" (click)="updateForm(wfInput.model,button.value)" [ngClass]="{'buttonsSelected': this.wfSvc.toInt(wfInputForm.controls[wfInput.model].value) === button.value}">
                                                <ion-icon name="{{button.icon}}"></ion-icon>
                                                &nbsp; {{button.label}}
                                            </button>
                                        </ion-buttons>
                                    </ion-row>

                                    <!-- Break -->
                                    <div *ngIf="wfInput.method == 'break' && wfInput.process[wfInputForm.value.wfProcess]" [ngStyle]="{'width.em':wfInput.size}">
                                    </div>

                                </ion-col>
                            </ion-row>
                        </div>
                        <button ion-button type="button" (click)="this.photoSvc.shoot(this.images, this.wfInputForm)">
                            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                            &nbsp; 拍照
                        </button>
                        <ion-col>
                            <ion-row align-items-center>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button"
                                        [disabled]="this.wfInputForm.value.wfReadOnly"
                                        ion-button (click)="this.wfSvc.wfFormSubmission(this.wfInputForm,this.navCtrl,this.images,false)"
                                        style="width: 80px; height: 50px; background: yellowgreen;">
                                    上存
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button"
                                        [disabled]="this.wfInputForm.value.wfReadOnly"
                                        ion-button (click)="this.wfSvc.wfFormSubmission(this.wfInputForm,this.navCtrl,this.images, true)"
                                        style="width: 200px; height: 50px; background: green;">
                                    上存 + 完成工序
                                </button>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" ion-button
                                        style="width: 80px; height: 50px; background-color: #8c8c8c;"
                                        (click)="this.wfSvc.cancelBtn(this.navCtrl)">
                                    取消
                                </button>

                            </ion-row>
                        </ion-col>
                    </ion-row>



                </ion-col>

                <ion-col>
                    <ion-row *ngFor="let image of images">
                        <img src="{{image}}" class="img">
                        <!--<ion-img src="{{image}}"></ion-img>-->
                        <button ion-button type="button" (click)="this.photoSvc.imgDelete(this.images, iX, this.wfInputForm)">
                                <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon></button>
                    </ion-row>
                </ion-col>

            </ion-row>
        </ion-grid>
    </form>
</ion-content>