<ion-header>
    <ion-navbar>
        <div style="align-items: center; display: inline;">
            <img src="./assets/img/vt_icon.png" class="icon">
            <ion-title>工序流程卡纪录系统</ion-title>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="wfInputForm" (ngSubmit)="onAddWf()">

        <!-- First section for the input field -->
        <div>
            <ion-grid>
                <ion-row wrap justify-content-left align-items-center>
                    <!-- Main loop of the Form Module -->
                    <ion-col *ngFor="let wfInput of wfInputs" col-auto>
                        <!-- Non Buttons input fields of wfForms -->
                        <ion-row align-items-center>
                            <div *ngIf="wfInput.title != ''"
                                 class="label">{{wfInput.title}}</div>

                            <!-- Form Normal Input Module-->
                            <ion-input *ngIf="wfInput.method === 'input'"
                                       [ngStyle]="{'width.em':wfInput.size}"
                                       type={{wfInput.type}}
                                       formControlName={{wfInput.model}}
                                       no-padding class="gridborder"
                                       (change)="this.resetForm(this.wfInputForm, wfInput.model)"
                                       required></ion-input>

                            <button *ngIf="wfInput.scan" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)" item-end ion-button class="barcodeButton" type="button">
                                <!--<ion-icon name="barcode"></ion-icon>-->
                                扫一扫
                            </button>

                            <!-- Form Selector Module -->
                            <ion-select *ngIf="wfInput.method === 'select'"
                                        [ngStyle]="{'width.em':wfInput.size}"
                                        interface="popover" style="height: 34px !important;"
                                        formControlName={{wfInput.model}}
                                        class="gridborder">
                                <ion-option *ngFor="let key of [0,1,2,3]" value={{key}}>
                                    {{key}}
                                </ion-option>
                            </ion-select>

                            <div *ngIf="wfInput.method === 'button'" [ngStyle]="{'width.em':wfInput.size}">
                                <ion-row>
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <button [ngClass]="{'buttonsSelected': wfInputForm.value.wfFormExcept == true }"
                                            (click)="setFormValue(wfInput.model,!wfInputForm.value.wfFormExcept)"
                                            item-right ion-button outline type="button" round>
                                        &nbsp; {{wfInput.label}}
                                    </button>
                                </ion-row>
                            </div>

                            <!-- Buttons input fields of wfForms -->
                            <div *ngIf="wfInput.method === 'buttons'" [ngStyle]="{'width.em':wfInput.size}">
                                <ion-buttons style="padding-left: 100px;">
                                    <!-- Button for Form submission -->
                                    <button *ngFor="let option of wfInput.options"
                                            [ngClass]="{'buttonsSelected': wfInputForm.value.wfForm == option.value }"
                                            (click)="setFormValue(wfInput.model,option.value)"
                                            item-right ion-button outline type="button" round>
                                        <ion-icon name="clipboard"></ion-icon>
                                        &nbsp; {{option.label}}
                                    </button>
                                </ion-buttons>
                            </div>

                            <div *ngIf="wfInput.method === 'break'" [ngStyle]="{'width.em':wfInput.size}"></div>

                        </ion-row>

                    </ion-col>
                    <ion-row *ngIf="wfInputForm.value.wfForm != ''">
                        <div class="label" style="padding-left: 5px;">工序</div>
                        <ion-row align-items-center>&nbsp;</ion-row>
                        <ion-row align-items-center style="padding-left: 100px; width: 2100px;">
                            <button *ngFor="let key of dataWfProcess[this.wfInputForm.value.wfForm].Process | keys"
                                    [ngClass]="{'buttonsSelected': wfInputForm.value.wfProcess == key }"
                                    (click)="setFormValue('wfProcess',key); setFormValue('wfProcessName',dataWfProcess[this.wfInputForm.value.wfForm].Process[key]);"
                                item-right ion-button outline type="button" round>
                                {{dataWfProcess[this.wfInputForm.value.wfForm].Process[key]}}
                            </button>
                        </ion-row>
                    </ion-row>
                </ion-row>

                <ion-row>
                    <button style="width: 25%; margin: 0 auto; margin-top:40px !important; "
                            ion-button type="submit" block>
                        确定
                    </button>

                    <button style="width: 25%; margin: 0 auto; margin-top:40px !important; "
                            (click)="this.wfInputForm.value.wfReadOnly = true"
                            ion-button type="submit" block>
                        浏览
                    </button>
                </ion-row>
            </ion-grid>
        </div>

        <!-- Display the workflow process with img -->

        <!-- manual ageing will have an action sheet to prompt the sub process -->
        <!-- 規格 Need attention highlight -->
        <!-- 料號 = 產品編號 -->

    </form>
</ion-content>