<ion-header>
    <ion-navbar>
        <div style="align-items: center; display: inline;">
            <img src="./assets/img/vt_icon.png" class="icon">
            <ion-title>工序流程卡纪录系统</ion-title>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="wfInputForm" (ngSubmit)="onAddWf()">

        <!-- First section for the input field -->
        <div>
            <ion-grid>
                <ion-row wrap justify-content-left align-items-center>
                    <!-- Main loop of the Form Module -->
                    <ion-col *ngFor="let wfInput of wfInputs">
                        <!-- Non Buttons input fields of wfForms -->
                        <ion-row align-items-center>
                            <div class="label">{{wfInput.title}}</div>

                            <!-- Form Normal Input Module-->
                            <ion-input *ngIf="wfInput.method === 'input'" [ngStyle]="{'width.em':wfInput.size}" type={{wfInput.type}} formControlName={{wfInput.model}} no-padding class="gridborder" required></ion-input>

                            <button *ngIf="wfInput.scan" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)" item-end ion-button class="barcodeButton" type="button">
                                <!--<ion-icon name="barcode"></ion-icon>-->
                                扫一扫
                            </button>

                            <!-- Form Selector Module -->
                            <ion-select *ngIf="wfInput.method === 'select'" [ngStyle]="{'width.em':wfInput.size}" interface="popover" style="height: 34px !important;" (ionChange)="setWfStage($event)" formControlName={{wfInput.model}} class="gridborder" okText="确定" cancelText="取消">
                                <ion-option *ngFor="let key of wfMachineData" value={{key}}>
                                    {{wfMachineProcess[0][key]}}
                                </ion-option>
                            </ion-select>

                            <!-- Buttons input fields of wfForms -->
                            <div *ngIf="wfInput.method === 'buttons'" [ngStyle]="{'width.em':wfInput.size}">
                                <ion-buttons>
                                    <!-- Button for Form submission -->
                                    <button *ngFor="let option of wfInput.options" [ngClass]="{'buttonsSelected': wfInputForm.value.wfForm == option.value }" (click)="setFormValue(wfInput.model,option.value)" item-right ion-button outline type="button" round>
                                        <ion-icon name="clipboard"></ion-icon>
                                        &nbsp; {{option.label}}
                                    </button>
                                </ion-buttons>
                            </div>

                            <div *ngIf="wfInput.method === 'break'" [ngStyle]="{'width.em':wfInput.size}"></div>

                        </ion-row>

                    </ion-col>
                    <ion-col *ngIf="wfInputForm.value.wfForm != ''">
                        <ion-row align-items-center>
                            <div class="label">工序</div>
                            <button *ngFor="let key of dataWfProcess[this.wfInputForm.value.wfForm].Process | keys"
                                    [ngClass]="{'buttonsSelected': wfInputForm.value.wfProcess == key }"
                                    (click)="setFormValue('wfProcess',key); setFormValue('wfProcessName',dataWfProcess[this.wfInputForm.value.wfForm].Process[key]);"
                                    item-right ion-button outline type="button" round>
                                <ion-icon name="clipboard"></ion-icon>
                                {{dataWfProcess[this.wfInputForm.value.wfForm].Process[key]}}
                            </button>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <button style="width: 25%; margin: 0 auto;" ion-button type="submit" block>
                        确定
                    </button>
                </ion-row>
            </ion-grid>
        </div>

        <!-- Display the workflow process with img -->


        <!-- manual ageing will have an action sheet to prompt the sub process -->
        <!-- 規格 Need attention highlight -->
        <!-- 料號 = 產品編號 -->

    </form>
</ion-content>