<ion-header style="margin-top: 0px !important;margin-left: 0px !important;">
    <ion-navbar>
        <div style="align-items: center; display: inline;">

            <ion-title>
                <img src="./assets/img/vt_icon.png" class="icon" style="position: initial !important; vertical-align: middle !important;">
                <b>&nbsp;( 裸品流程卡 )&nbsp;工序:&nbsp;&nbsp;<span class="processBGColor">{{wfInputForm.value.wfProcessName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;流程卡号:&nbsp;<u>{{wfInputForm.value.wfFormId}}</u>&nbsp;&nbsp;&nbsp;&nbsp;机台号:&nbsp;<u>{{wfInputForm.value.wfOptMachineId}}</u></b>
            </ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="wfInputForm" (ngSubmit)="onSubmit()">
        <ion-grid>
            <!-- header bar -->
            <ion-row wrap class="main headbar">
                <ion-col *ngFor="let wfOrderDetail of wfOrderDetails" [class.noPaddingCol]="wfOrderDetail.method === 'break' ">
                    <ion-row justify-content-center wrap>
                        <ion-col *ngIf="wfOrderDetail.method === 'input'" no-padding>
                            <ion-row align-items-center>
                                <div class="inputLabel" no-padding>
                                    {{wfOrderDetail.title}}
                                </div>
                                <ion-input *ngIf="wfOrderDetail.type != 'textarea'" class="gridborder" disabled type={{wfOrderDetail.type}} [ngStyle]="{'width.em':wfOrderDetail.size}" formControlName={{wfOrderDetail.model}}></ion-input>

                                <ion-textarea *ngIf="wfOrderDetail.type === 'textarea'" formControlName={{wfOrderDetail.model}} [ngStyle]="{'width.em':wfOrderDetail.size}" class="textarea gridborder"></ion-textarea>
                            </ion-row>
                        </ion-col>

                        <ion-col *ngIf="wfOrderDetail.method === 'break'" no-padding [ngStyle]="{'width.em':wfOrderDetail.size, 'visibility':wfOrderDetail.visibility }" class="ageingSubPart subBreak"></ion-col>

                    </ion-row>
                </ion-col>
            </ion-row>

            <!-- Content Section -->
            <ion-row>
                <!-- Material Info and Serial # -->
                <ion-col class="main" col-5 no-padding>
                    <!-- Header -->
                    <ion-row>
                        <ion-col col-1></ion-col>
                        <ion-col text-center col-7>
                            <h4 class="inputHeader">材料</h4>
                        </ion-col>
                        <ion-col text-center>
                            <h4 class="inputHeader">批号</h4>
                        </ion-col>
                    </ion-row>

                    <!-- Body -->
                    <ion-row *ngFor="let wfRMDetail of wfRMDetails" justify-content-center align-items-center>
                        <ion-col wrap col-auto>
                            <div class="inputLabel">
                                {{wfRMDetail.title}}
                            </div>
                        </ion-col>
                        <ion-col col-6>
                            <ion-input class="gridborder" [disabled]="!((wfRMDetail.modelName == 'wfRMFoilPosLName' || wfRMDetail.modelName == 'wfRMFoilNegLName') && wfInputForm.value.wfProcess == '1')" value={{wfInputForm.controls[wfRMDetail.modelName].value}}></ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-input class="gridborder" value={{wfInputForm.controls[wfRMDetail.modelSerial].value}}></ion-input>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <!-- Production Record + Ageing + Staff input -->
                <ion-col col-7>

                    <!-- Production input field -->
                    <ion-row class="sec" align-self-stretch justify-content-left>

                        <!-- Input field form -->
                        <ion-col *ngFor="let wfInput of wfOpsInputs" col-auto>

                            <!-- Simple Input field -->
                            <ion-row *ngIf="wfInput.method == 'input'" align-items-center justify-content-center>
                                <div *ngIf="wfInput.wfOpslI == 2" style="height: 42px; width: 100vw;
                                position: relative;">
                                    <h4 class="inputHeader" style="display: inline-block; margin: 0;">
                                        <!-- <ion-icon name="clipboard"></ion-icon> -->
                                        &nbsp; 生產记录
                                    </h4>

                                    <div style="position: absolute;right: 10px; top: 0;">
                                        <div style="margin-left: 5px;margin-right: 5px; display:inline-block;">
                                            <!--<ion-icon name="{{wfInput.icon}}"></ion-icon>-->
                                            {{wfInput.title}}
                                        </div>
                                        <ion-input (change)="updateTextChg();" type={{wfInput.type}} formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder" style="display:inline-block;"></ion-input>
                                    </div>
                                </div>

                                <div *ngIf="wfInput.wfOpslI != 2" style="margin-left: 5px;margin-right: 5px;">
                                    <!--<ion-icon name="{{wfInput.icon}}"></ion-icon>-->
                                    {{wfInput.title}}
                                </div>


                                <ion-input *ngIf="wfInput.wfOpslI == 1" (change)="updateTextChg();" type={{wfInput.type}} formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                <ion-input *ngIf="wfInput.wfOpslI != 1 && wfInput.wfOpslI != 2" type={{wfInput.type}} formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                <button *ngIf="wfInput.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                    扫一扫
                                </button>
                            </ion-row>

                            <ion-row *ngIf="wfInput.method == 'buttons'" justify-content-left align-items-center>
                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>

                                <ion-buttons>
                                    <button ion-button round outline type="button" style="width: auto;" *ngFor="let button of wfInput.buttons" (click)="updateForm(wfInput.model, button.value)" [ngClass]="{'buttonsSelected': wfInputForm.controls[wfInput.model].value === button.value}">
                    &nbsp;                  {{button.label}}
                                     </button>
                                </ion-buttons>
                            </ion-row>

                            <ion-col *ngIf="wfInput.method == 'inputs'">
                                <ion-row *ngIf="wfInput.header" align-items-center justify-content-center>
                                    <div style="width: 45px;"></div>
                                    <div style="text-align: center;">
                                        {{wfInput.header}}
                                    </div>
                                </ion-row>

                                <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center>

                                    <div *ngIf="option.type != 'date' && option.type != 'time'" class="inputLabel">
                                        {{option.title}}
                                    </div>
                                    <!-- datetime -->
                                    <div *ngIf="option.type == 'date'" [ngStyle]="{'width.em':option.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                        <!-- <ion-icon *ngIf="option.type == 'date'" name="md-calendar" style="font-size:1.6em; margin: 0 6px;"></ion-icon> -->
                                        <ion-datetime formControlName={{option.model}} #picker pickerFormat="DD/MM/YYYY" [min]="datePickerMin" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                    </div>
                                    <div *ngIf="option.type == 'time'" [ngStyle]="{'width.em':option.size}" (click)="picker.open()" class="gridborder" style="width: 8em;display: inline-flex;align-items: center;">
                                        <!-- <ion-icon *ngIf="option.type == 'time'" name="md-clock" style="font-size:1.6em; margin: 0 6px;"></ion-icon> -->
                                        <ion-datetime formControlName={{option.model}} #picker displayFormat="HH:mm" pickerFormat="HH:mm" style="display: inline-block; padding: 13px 0;"></ion-datetime>
                                    </div>

                                    <ion-input *ngIf="option.type != 'date' && option.type != 'time'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                    <button *ngIf="option.scan" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                        扫一扫
                                    </button>
                                </ion-row>

                            </ion-col>

                            <ion-col *ngIf="wfInput.method == 'breaks'" col-3>
                            </ion-col>

                            <ion-row *ngIf="wfInput.method == 'textarea'" align-items-center>
                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>
                                <ion-textarea formControlName={{wfInput.model}} style="min-width: auto;" class="gridborder">
                                </ion-textarea>
                            </ion-row>

                            <ion-col *ngIf="wfInput.method == 'inputs' + wfNavParams.wfProcess">
                                <ion-row *ngIf="wfInput.header" align-items-center justify-content-center>
                                    <div style="width: 45px;"></div>
                                    <div style="text-align: center;">
                                        {{wfInput.header}}
                                    </div>
                                </ion-row>

                                <ion-row *ngFor="let option of wfInput.options" align-items-center justify-content-center>

                                    <div class="inputLabel">
                                        {{option.title}}
                                    </div>

                                    <div *ngIf="option.type == 'date'" [ngStyle]="{'width.em':option.size}" class="gridborder">
                                        <ion-datetime formControlName={{option.model}} displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
                                    </div>

                                    <div *ngIf="option.type == 'time'" [ngStyle]="{'width.em':option.size}" class="gridborder">
                                        <ion-datetime formControlName={{option.model}} displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
                                    </div>

                                    <ion-input *ngIf="option.type != 'date' && option.type != 'time'" formControlName={{option.model}} type={{option.type}} [ngStyle]="{'width.em':option.size}" class="gridborder"></ion-input>

                                    <button *ngIf="option.scan" item-end ion-button class="barcodeButton" type="button" (click)="checkBeforeScan()">
                                        扫一扫
                                    </button>
                                </ion-row>

                            </ion-col>

                        </ion-col>

                    </ion-row>

                    <!-- Ageing Input field -->
                    <ion-row *ngIf="wfInputForm.value.wfProcess == '5'" class="sec" align-items-center justify-content-start>

                        <!-- Ageing field Title -->
                        <ion-col col-12>
                            <div class="inputHeader">
                                <!-- <ion-icon name="md-color-wand"></ion-icon> -->
                                &nbsp; 老化工序
                            </div>
                            <button *ngFor="let wfProcessName of ['手工老化','自動老化']" [ngClass]="{'buttonsSelected': wfInputForm.value.wfProcessName == wfProcessName }" (click)="setFormValue('wfProcessName',wfProcessName);" item-right ion-button outline type="button" round>
                                <!--<ion-icon name="clipboard"></ion-icon>-->
                                {{wfProcessName}}
                            </button>
                        </ion-col>

                        <!-- Auto老化 Input field form -->
                        <ion-col col-auto>
                            <ion-row>

                                <!-- Ageing Header -->
                                <ion-col col-12>
                                    <ion-row>
                                        <div style="width: 45px">
                                            &nbsp; &nbsp;
                                        </div>

                                        <div style="width: 6em; text-align: center;">
                                            &nbsp; 规格
                                        </div>

                                        <div style="width: 6em; text-align: center;">
                                            &nbsp; 实际
                                        </div>
                                    </ion-row>
                                </ion-col>

                                <!-- Ageing Input -->
                                <ion-col>
                                    <ion-row *ngFor="let wfInput of wfAgeingDetails" align-items-center>

                                        <!-- Simple Input field -->
                                        <div class="inputLabel">
                                            {{wfInput.title}}
                                        </div>

                                        <div *ngFor="let col of wfInput.cols">
                                            <div *ngIf="col.auto === false" [ngStyle]="{'width.em':wfInput.size}">
                                                <ion-input formControlName={{col.model}} type={{col.type}} class="gridborder"></ion-input>
                                            </div>

                                            <div *ngIf="col.auto === true && this.wfInputForm.value.wfProcessName == '自動老化'" [ngStyle]="{'width.em':wfInput.size}">
                                                <ion-input formControlName={{col.model}} type={{col.type}} class="gridborder"></ion-input>
                                            </div>
                                        </div>
                                    </ion-row>
                                </ion-col>

                                <ion-col *ngIf="this.wfInputForm.value.wfProcessName == '手工老化'" padding-horizontal>
                                    <ion-row>
                                        <div class="inputLabel">
                                            特殊说明
                                        </div>
                                    </ion-row>
                                    <ion-textarea name="wfAgeingNote" style="min-height: 20em; width: auto" class="gridborder">
                                    </ion-textarea>
                                </ion-col>

                                <!-- Auto Ageing 2nd part -->
                                <ion-row *ngIf="this.wfInputForm.value.wfProcessName == '自動老化'" class="ageingSubPart">
                                    <ion-col col-6>
                                        <ion-row wrap align-items-center>
                                            <ion-col *ngFor="let wfInput of wfAutoAgeingDetails" no-padding col-6>

                                                <ion-row align-items-center>
                                                    <div class="inputLabel">
                                                        {{wfInput.title}}
                                                    </div>

                                                    <div [ngStyle]="{'width.em':wfInput.size}">
                                                        <ion-input formControlName={{wfInput.model}} type={{wfInput.type}} no-padding class="gridborder"></ion-input>
                                                    </div>

                                                </ion-row>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                    <!-- Note -->
                                    <ion-col padding-horizontal>
                                        <ion-row>
                                            <div class="inputLabel">
                                                特殊说明
                                            </div>
                                        </ion-row>
                                        <ion-textarea name="wfAgeingNote" style="min-height: 20em; width: auto" class="gridborder">
                                        </ion-textarea>
                                    </ion-col>

                                </ion-row>


                            </ion-row>
                        </ion-col>

                    </ion-row>

                    <!-- Workflow People input field -->
                    <ion-row class="sec staff" align-items-center justify-content-left>

                        <!-- Input field header -->
                        <ion-col text-left col-12>
                            <h4 class="inputHeader">
                                <!-- <ion-icon name="md-contacts"></ion-icon> -->
                                &nbsp; 员工信息
                            </h4>
                        </ion-col>

                        <!-- Input field form -->
                        <ion-col *ngFor="let wfInput of wfPplInputs" col-auto align-items-left justify-content-center>

                            <!-- Simple Input field -->
                            <ion-row align-items-center justify-content-center *ngIf="wfInput.method == 'input'">

                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>
                                <div (click)="showWfOpsInputsAlert(wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty)">
                                    <ion-input [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" (change)="updateTextChg();" *ngIf="wfInput.wfPplI == 1" formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}}
                                        [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>
                                    <ion-input [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" *ngIf="wfInput.wfPplI == 2" formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}} [ngStyle]="{'width.em':wfInput.size}"
                                        class="gridborder"></ion-input>

                                    <ion-input [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" *ngIf="wfInput.wfPplI == 3" formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}} [ngStyle]="{'width.em':wfInput.size}"
                                        class="gridborder"></ion-input>

                                    <ion-input *ngIf="wfInput.wfPplI == 4" formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}} [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>

                                    <ion-input style="display: inline-block;" [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" *ngIf="wfInput.wfPplI == 5" formControlName={{wfInput.model}} type={{wfInput.type}} value={{wfInputForm.controls[wfInput.model].value}}
                                        [ngStyle]="{'width.em':wfInput.size}" class="gridborder"></ion-input>
                                    <button [disabled]="!(wfInputForm.value.wfQCPass == 2 || wfInputForm.value.wfQCPass == 1)" *ngIf="wfInput.scan == 5" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                      簽署
                                    </button>
                                </div>
                                <!--
                                <div on-mouseover="showWfOpsInputsAlert(wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty)">
                                    <button [disabled]="(wfInputForm.value.wfOptBadQty == '' || wfInputForm.value.wfOptGoodQty == '')" *ngIf="wfInput.scan == 3" item-end ion-button class="barcodeButton" type="button" (click)="this.QRCode.scanBarcode(wfInput.model, this.wfInputForm)">
                                    扫一扫
                                </button>
                                </div>
                                <div on-mouseover="showWfQCPassAlert(wfInputForm.value.wfQCPass)">

                                </div>
                                -->
                            </ion-row>


                            <ion-row *ngIf="wfInput.method == 'textarea'" align-items-center>
                                <div class="inputLabel">
                                    备注
                                </div>
                                <ion-textarea formControlName={{wfInput.model}} [ngStyle]="{'width.em':wfInput.size}" class="textarea gridborder"></ion-textarea>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button ion-button type="button" (click)="this.photoSvc.shoot(this.images, this.wfInputForm)">
                                    <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                                    &nbsp; 拍照
                                </button>

                            </ion-row>

                            <!-- Select Buttons -->
                            <ion-row *ngIf="wfInput.method == 'buttons'" align-items-center>
                                <div class="inputLabel">
                                    {{wfInput.title}}
                                </div>

                                <ion-input formControlName={{wfInput.model}} hidden></ion-input>

                                <ion-buttons>
                                    <button *ngFor="let button of wfInput.buttons" ion-button round outline type="button" style="width: auto;" (click)="updateForm(wfInput.model,button.value)" [ngClass]="{'buttonsSelected': wfInputForm.controls[wfInput.model].value === button.value}">
                                    <ion-icon name="{{button.icon}}"></ion-icon>
                                    &nbsp; {{button.label}}
                                  </button>
                                </ion-buttons>
                            </ion-row>

                            <!-- Break -->
                            <div *ngIf="wfInput.method == 'break'" [ngStyle]="{'width.em':wfInput.size}">
                            </div>

                        </ion-col>

                        <ion-row>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button [disabled]="!(wfInputForm.value.wfQCPass == 2 || wfInputForm.value.wfQCPass == 1)" type="button" ion-button (click)="this.wfSvc.showWfOpsFinalInputsAlert(wfInputForm.value.wfOrderTotalQty, wfInputForm.value.wfOrderTotalGoodQty, wfInputForm.value.wfOptBadQty, wfInputForm.value.wfOptGoodQty,this.wfInputForm,this.navCtrl,this.images)">
                                上存
                            </button>

                        </ion-row>
                    </ion-row>

                </ion-col>

                <ion-col>
                    <ion-row *ngFor="let image of images">
                        <img src="{{image}}" class="img">
                        <!-- <ion-img src="{{image}}"></ion-img> -->
                    </ion-row>
                </ion-col>

            </ion-row>
        </ion-grid>
    </form>
</ion-content>